/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

/* Emma added this stuff */
.small_padding {
    height: 10px;
}

.padding {
    height: 20px;
}

.social_medias {
    font-size: 42px;
    font-weight: 700;
}

.twitter {
    color: #00aced;
}

.instagram {
    color: #8a3ab9;
}

.facebook {
    color: #3B5998;
}

.social_media_descriptions {
    font-size: 14px;
    min-height: 60px;
}

.background_twitter {
    background-color: #e5f6fd;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    padding: 10px;
}

.results_content {
    color: black;
    opacity: 1;
}

.red_cards {
    background-color: #ff4c4c;
}

.orange_cards {
    background-color: #ffc04c;
}

.yellow_cards {
    background-color: #ffff4c;
}

.issue_container {
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
}

.arrow-left-red {
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-right: 100px solid #ff4c4c;
}

.arrow-left-orange {
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-right: 100px solid #ffc04c;
}

.arrow-left-yellow {
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-right: 100px solid #ffff4c;
}

.issue {
    padding: 10px;
    width: 100%;
}

/* Bootstrap that I override below */
@media (min-width: 576px) {
    .jumbotron {
        padding: 1.5rem 1.5rem !important;
        margin-bottom: 0rem !important;
    }
}

.jumbotron {
    padding: 1.5rem 1.5rem !important; 
    margin-bottom: 0rem !important;
}

.navbar {
    background-color: #00aced !important;
}
.navbar-brand{
    color: white !important;
}
.navbar-nav .nav-link{
    color: white !important;
}
.small-li{
    font-size: 15px;
    margin-top: 30px;
}