@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4 col-sm-12">
        <div class="social_medias twitter" align="center">
            Twitter
        </div>
        <div class="social_media_descriptions" align="center">
            Enter in some link to someone's twitter to stalk them.
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@@</span>
            </div>
            <input type="text" class="form-control" placeholder="Handle" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="padding"></div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="social_medias instagram" align="center">
            Instagram
        </div>
        <div class="social_media_descriptions" align="center">
            Enter in someone's insta handle to stalk them
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@@</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="padding"></div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="social_medias facebook" align="center">
            Facebook
        </div>
        <div class="social_media_descriptions" align="center">
            Enter someone's facebook (if they even still use that) to "check up" on them
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">facebook.com/</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="padding"></div>
</div>

<div class="row justify-content-center">
    <div class="col-4" align="center">
        <button type="button" class="btn btn-success btn-lg">See Results</button>
        <div class="padding"></div>
    </div>
</div>

<div class="row">
    <div class="col-4 background_twitter">
        <div class="results_content">
            place for username <br>
            tweets
        </div>
    </div>
    <div class="col-4 background_instagram">
        <div class="card ">
            <div class="card-body">
                Username is ATROCIOUS
            </div>
        </div>
        <div class="small_padding"></div>
        <div class="card  red_cards">
            <div class="card-body">
                This is some text within a card body.
            </div>
        </div>
        <div class="small_padding"></div>
        <div class="card  orange_cards">
            <div class="card-body">
                This is some text within a card body.
            </div>
        </div>
        <div class="small_padding"></div>
        <div class="card  yellow_cards">
            <div class="card-body">
                This is some text within a card body.
            </div>
        </div>
    </div>
    <div class="col-4 background_facebook">
        
    </div>
</div>