@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-4">
        <div class="social_medias twitter" align="center">
            Twitter
        </div>
    </div>
    <div class="col-4">
        <div class="social_medias instagram" align="center">
            Instagram
        </div>
    </div>
    <div class="col-4">
        <div class="social_medias facebook" align="center">
            Facebook
        </div>
    </div>
</div>